.articleShow {
    
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .gridShowArticle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imageShowArticle {
        max-width: 800px;
    }
}