.dashSection {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    height: 80vh;
    width: 100%;

    .gridDash {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .col1 {
        display: flex;
        justify-content: center;
        width: 30%;
        background-color: aqua;
    }

    .col2 {
        display: flex;
        justify-content: center;
        width: 30%;
        background-color: rgb(255, 102, 0);
    }

    .col3 {
        display: flex;
        justify-content: center;
        min-width: 30%;
        background-color: rgb(255, 0, 21);
    }
}