.sectionPlaceMap {
border-top: 1px solid #fa130c;
padding: 2%;

.titlePlaceMap {
    text-align: center;
    color: rgba(39, 38, 38, 0.932);
   //  font-weight: 100;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.contentGridMap{
 padding: 5%;
    display: flex;
    justify-content: center;
   
    color: #fa130c;

    .listePlace {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .gridMap {
      display: flex;
      justify-content: center;
    }
}

}